@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App{
    height: 100vh;
    display: flex;
    background-image: url('../public/background.png');
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    display: none;
}
